<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Series List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Searchbar in a Toolbar -->
  <ion-toolbar style="position: relative;">
    <ion-searchbar placeholder="Series Title" (input)="doSearch($event)"></ion-searchbar>
      
    <ion-list style="width: 100%; ">
      <ion-item *ngIf="searchSeries.length === 0 && queryText != '' && searching === false">No series found!</ion-item>
      <ion-item *ngFor="let s of searchSeries">
        <ion-thumbnail slot="start" >
          <a href="#"><img [src]="s.coverImageUrl"></a>
        </ion-thumbnail>
        <ion-label>
          <a href="#"><h3>{{s.title}}</h3></a>
          <h3>Authors: {{s.authorsName.join(', ')}}</h3>
          <h3>Artist: {{s.artistsName.join(', ')}}</h3>
          <p>Last Update: {{s.gsi1sk | date:'medium'}}</p>
        </ion-label>
      </ion-item>
      <div *ngIf="searching">
        <ion-item *ngFor="let number of searchLoaderItems">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-toolbar>
  <div>
    <ion-list>
      
      <ion-item>
        <ion-label>Order</ion-label>
        <ion-select [(ngModel)]="mSort" (ionChange)="doSort($event)">
          <ion-select-option value="date_asc" selected>ASC BY Date Created</ion-select-option>
          <ion-select-option value="date_desc" >DESC Date Created</ion-select-option>
          <ion-select-option value="title_asc" >Title A-Z</ion-select-option>
          <ion-select-option value="title_desc" >Title Z-A</ion-select-option>
        </ion-select>
      </ion-item>
   
    </ion-list>
    <ion-list>
      <div *ngFor="let s of series">
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="s.coverImageUrl">
          </ion-thumbnail>
          <ion-label>
            <h2>{{s.title}}</h2>
            <h3>Authors: {{s.authorsName.join(', ')}}</h3>
            <h3>Artist: {{s.artistsName.join(', ')}}</h3>
            <p>{{s.description}}</p>
            <p>Last Update: {{s.gsi1sk | date:'medium'}}</p>
          </ion-label>
        </ion-item>
        <ion-toolbar style="text-align: left !important;" item-content class="transparent-toolbar" text-center>
          <ion-chip outline color="primary">
            <ion-label>Edit</ion-label>
            <ion-icon name="create"></ion-icon>
          </ion-chip>
          <ion-chip outline color="primary">
            <ion-label>View</ion-label>
            <ion-icon name="eye"></ion-icon>
          </ion-chip>  
        </ion-toolbar>
      </div>
      <div *ngIf="loaderItems.length === 0 && series.length === 0">No Items</div>
    </ion-list>
  </div>

  <!-- Skeleton screen -->
  <div>  
    <ion-list>
      <ion-item *ngFor="let number of loaderItems">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
